@import "./variables.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vw / (1920 / 10));
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: var(--font-montserrat);
  background-image: url('/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}


/* iOS/iPhone fix - repeat the background */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
  }
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  color: transparent;
  background-image: var(--text-gradient-gold);
  -webkit-background-clip: text;
  text-align: center;
  font-size: 8rem;
  font-weight: 200;
  line-height: 1.5;
  font-family: var(--font-tangerine), Arial, sans-serif;
  vertical-align: middle;
  will-change: transform;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  line-height: 1;
  text-align: center;
}

.text {
  color: var(--foreground);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

/* For WebKit browsers (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Mozilla Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: calc(100vw / (1440 / 10));
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: calc(100vw / (1200 / 10));
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / (1000 / 10));
  }
}

@media screen and (max-width: 525px) {
  html {
    font-size: calc(100vw / (768 / 10));
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}